{% extends "base_generic.html" %}

{% block navbar %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'zones' %}">Zones</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'categories' %}">Assets <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'storage' %}">Storage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'location-check' %}">Location Check</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quick-move' %}">Quick Move</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-sm center-block text-center">
      <p class="lead">{{cat}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm center-block text-center">
      <p>There are <strong>{{ cat_tot }}</strong> {{cat}}s.</p>
    </div>
  </div>
</div>


  {% if cat_eq %}
  <div class="container">
    <div class="card-deck">
      {% for equip in cat_eq %}
      <div class="col-md-3">
        <div class="card" id="category_detail_card">
          <div class="card-header">
            <a id="card-title" href="{{ equip.get_absolute_url }}">{{ equip }}</a>
          </div>
          <div class="card-body">
            {{ equip.asset_loc }}<br>
            {% if equip.ip_address %}
              {{ equip.ip_address }}<br>
            {% endif %}
            {{ equip.state }}<br>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <p>No assets to display.</p>
  {% endif %}
{% endblock %}
