{% extends "base_generic.html" %}
{% block navbar %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'zones' %}">Zones</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'categories' %}">Assets <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'storage' %}">Storage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'location-check' %}">Location Check</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quick-move' %}">Quick Move</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
<div class="container" id="zone_list_head">
  <div class="row">
    <div class="col-sm center-block text-center">
      <h2>Equipment Category List</h2>
    </div>
  </div>
</div>

{% if cat_info %}
<div class="container">
  <div class="card-deck">
    {% for key, value in cat_info.items %}
    <div class="col-md-3">
      <div class="card mt-3">
        <div class="card-header">
          <a id="card-title" href="{{ key.get_absolute_url }}">{{ key }}</a>
        </div>
        <div class="card-body">
          <p>Total {{ key }}s: {{ value }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  {% else %}
    <p>There are no asset categories in the system.</p>
  {% endif %}
{% endblock %}
