{% extends "base_generic.html" %}

{% block navbar %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'zones' %}">Zones</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'categories' %}">Assets <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'storage' %}">Storage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'location-check' %}">Location Check</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quick-move' %}">Quick Move</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
{% load staticfiles %}

  <h1>{{ category.asset_cat }}</h1>

  <p>There are  <strong>{{ cat_tot }}</strong> of this asset type.</p>

  {% if cat_eq %}
  <ul>
      {% for asset in cat_eq %}
        <li>
            <a href="{{ asset.get_absolute_url }}">{{ asset.name }}</a>({{ asset.asset_loc }})({{ asset.ip_address }})
        </li>
      {% endfor %}
  </ul>
  {% else %}
    <p>No assets to display.</p>
  {% endif %}
{% endblock %}
