{% extends "base_generic.html" %}

{% block content %}
{% load staticfiles %}

  <h1>{{ equipment.name }}</h1>
  {% if ip_addr %}
  <p><strong>IP:</strong> {{ ip_addr }}</p>
  {% endif %}
  <p><strong>Location:</strong> {{ equipment.asset_loc }}</p>

  <a class="btn btn-primary" href="{% url 'equipment-edit' object.pk %}" role="button">Edit</a>
  <a class="btn btn-primary" href="{% url 'service-create' object.pk %}" role="button">Service</a>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>

  {% endif %}

  <h4>History</h4>

{% if equipment_history %}

  <table>
    <thead>
      <th>date and time</th>
      <th>incident</th>
      <th>action taken</th>
    </thead>

    {% for row in equipment_history %}

    <tr>
      <td>{{ row.dt }}</td>
      <td><a href="{{ row.get_absolute_url }}">{{ row.incident|truncatechars:30 }}</a></td>
      <td>{{ row.act_detail|truncatechars:50 }}</td>
    </tr>

    {% endfor %}

  </table>

{% else %}
  <p>{{ equipment.name }} has no service record.</p>
{% endif %}

{% endblock %}
