{% extends "base_generic.html" %}

{% block navbar %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'zones' %}">Zones <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'categories' %}">Assets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'storage' %}">Storage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'location-check' %}">Location Check</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quick-move' %}">Quick Move</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container" id="zone_list_head">
  <div class="row">
    <div class="col-sm center-block text-center">
      <h2>{{ location.asset_loc }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm center-block text-center">
      <h4>{{ location.dept }}</h4>
  <div class="row">
    <div class="col-sm center-block text-center">
      <p>This location has <strong>{{ loc_tot }}</strong> assets.</p>
    </div>
  </div>
</div>

  {% if loc_eq %}
  <div class="container">
    <div class="card-deck">
      {% for e in loc_eq %}
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <a id="card-title" href="{{ e.get_absolute_url }}">{{e}}</a>
          </div>
          <div class="card-body">
            <p>IP: {{ e.ip_address }}</p>
            <p>Deployed: {{ e.d_date }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <p>This location has no assets assiged to it.</p>
  {% endif %}

{% endblock %}
