{% extends "base_generic.html" %}

{% block navbar %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'zones' %}">Zones <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'categories' %}">Assets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'storage' %}">Storage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'location-check' %}">Location Check</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quick-move' %}">Quick Move</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container" id="zone_list_head">
  <div class="row">
    <div class="col-sm center-block text-center">
      <h2>{{ zone.zone_loc }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm center-block text-center">
      <p>This zone has <strong>{{ loc_num }}</strong> locations.</p>
    </div>
  </div>
</div>

  {% if loc_dict %}
  <div class="container">
    <div class="card-deck">
      {% for key, value in loc_dict.items %}
      <div class="col-md-3">
        <div class="card" id="zn_detail_cards">
          <div class="card-header">
            <a id="card-title" href="{{ key.get_absolute_url }}">{{ key }}</a>
          </div>
          <div class="card-body">
            {% for i in value %}
              <a href="{{ i.get_absolute_url }}">{{ i }}</a>  {{ i.asset_cat }}
              <br>
            {% endfor %}
          </div>
          <div class"card-footer">
            <div class="row justify-content-center">
              <div class="col-10">
                <small class="text-muted float-right">{{ key.dept }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <p>No locations to display.</p>
  {% endif %}

{% endblock %}
