.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: light-gray;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.navbar {
  margin: 10px;
  background-image: linear-gradient(to right, #0076b7, #203a74);
}
